body {
    font-family: Garamond, Times;
    background: lightgray;
  }
  
  header {
    text-align: center;
  }
  
  p {
    font-size: 20px;
  }
  
  #image {
    border-radius: 50px;
    height: 100%;
    width: 50%;
  }

  #img-caption {
    height: 100%;
    width: 45%;
    text-align: center;
  }
  
  .flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    background-color: white;
    padding: 0 0px 20px 0px;
    margin: 0;
  }
  
  .flex-container-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-items: flex-start;
    align-items: center;
    align-content: center;
  }
  
  .flex-item {
    padding: 10px 20px 0px 20px;
  }

  .flex-item-2 {
    justify-content: flex-start;
    justify-items: flex-start;
  }
  
  #list {
    justify-content: flex-start;
    justify-items: flex-start;
    align-items: center;
    align-content: center;
    position: relative;
  }
  
  ul {
    text-align: center;
  }

  li {
    text-align: left;
  }
  
  a {
    color: blue;
  }
  
  a:hover {
    color: purple;
  }

  footer {
    text-align: center;
  }