body {
    font-family: Garamond, Times;
    background: lightgray;
  }
  
  header {
    text-align: center;
  }
  
  p {
    font-size: 20px;
  }
  
  #image {
    border-radius: 50px;
    height: 100%;
    width: 75%;
  }

  #img-caption {
    height: 100%;
    width: 65%;
    text-align: center;
  }
  
  .flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    background-color: white;
    padding: 0 0px 20px 0px;
    margin-left: 15%;
    margin-right: 15%;
  }
  
  .flex-container-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-items: flex-start;
    align-items: center;
    align-content: center;
  }
  
  .flex-item {
    padding: 10px 0px 0px 0px;
  }

  .flex-item-2 {
    justify-content: flex-start;
    justify-items: flex-start;
  }
  
  #list {
    justify-content: flex-start;
    justify-items: flex-start;
    align-items: center;
    align-content: center;
    position: relative;
  }
  
  ul {
    text-align: center;
  }

  li {
    text-align: left;
    font-weight: 500;
    font-size: 18px;
  }
  
  a {
    color: blue;
  }
  
  a:hover {
    color: purple;
  }

  footer {
    text-align: center;
    background-color: white;
    padding: 50px;
    margin: 5%;
  }